body {
    background-image: url("images/ocean.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #fff;
    opacity: .9;
}

#on-photo-upload-correct,
#on-photo-upload-error,
.results,
.form-group {
    background-color: #fff;
    opacity: .9;
    padding: 20px;
    margin: 35px 10px 10px 10px;
    overflow: visible !important;
    font-size: 90%;
}

.container {
    margin-top: 200px;
    align-items: center;
    align-content: center;
    overflow: visible;
}

.caption {
    width: 100%;
    background-color: grey;
    opacity: .7;
    padding: 0 10% 10% 20%;
    margin: 5% -30% -20% 20%;
}

#disclaimer {
	color: #326f6f;
	font-weight: bold;
	font-size: 80%;
	margin: -6% 0 5% 0;
}

#submit-button {
    margin: 2px;
}

#mood-values {
    border: solid 2px #326f6f;
    padding: 5%;
    text-align: center;
}

#accurate-yes,
#accurate-no {
    margin: 0 0 20px 0;
}

#thanks {
    color: #326f6f;
    font-weight: bold;
}

.dropdown-menu,
.dropdown-toggle {
    height: auto !important;
    overflow-x: visible !important;
    z-index: 1000;
}

h4 {
    padding: 1px;
}

#user-image {
    float: right;
}

.about {
    padding: 15px;
    font-size: 90%;
}


/* Media queries for screens less than 992px */

@media screen and (max-width: 992px) {
    .caption {
        width: 100%;
        background-color: grey;
        opacity: .7;
        padding: 0 10% 10% 20%;
    	margin: 2% -15% -30% 20%;
    }
}

@media screen and (max-width: 509px) {
    .caption {
    	font-size: 70%;
        width: 100%;
        background-color: grey;
        opacity: .7;
        padding: 0 10% 10% 20%;
    	margin: 8% -5% -28% 20%;
    }
}