body {
	background-image: url("images/ocean.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	background-color: #fff;
	opacity: .9;
}

#on-photo-upload-correct, #on-photo-upload-error, .results, .form-group {
	background-color: #fff;
	opacity: .9;
	padding: 10px;
	margin: 35px 10px 10px 10px;
}

.container {
	margin-top: 200px;
	align-items: center;
	align-content: center;
}

.caption {
	width: 100%;
	background-color: grey;
	opacity: .7; 
	padding: 0 50px 10px 50px;
	margin: 0 -50px -40px 100px;
}

#about {
	color: #787C81;
	background-color: #fff;
	opacity: .9;
	margin: 50px 0px -15px 0px;
	text-align: center;
}

h4 {
	padding: 20px;
}

.foot {
	padding: 10px;
}